*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background :linear-gradient(135deg, #667eea 0%, #743fa8 100%);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px; 
}
.container{
    min-height:170px;
    height: auto;
    width: 90%;
    max-width: 400px;
    background:rgba(255,255,255, 0.35);
    border-radius: 25px;
    padding: 18px;
    padding-left: 30px;
     margin: auto; /* y krne se y container screen k upr se gawab nhi ho jayega */ 
}
.heading1{
    color: white;
    font-weight: bold;
    text-align: center;
    margin-bottom: 23px;
}
.data{
    width:75%;
    height:39px;
    border-radius: 6px;
    padding: 5px;
    border:none;
    font-weight: bold;
    margin-bottom: 17px;
    margin-right:6px;
}
.add{
    height:38px;
    width: 75px;
    color: black;
    border-radius:6px;
    border: none;
    font-weight: bold;
}
#first{
    margin-right: 2px;
} 
.message{
    margin-bottom: 10px;
}
